<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtube</title>
    <link rel="stylesheet" th:href="@{../css/style.css}">
    <link rel="stylesheet" th:href="@{../css/modal.css}">
    <link rel="stylesheet" th:href="@{../css/button.css}">
</head>
<body>
<div class="container">
    <div class="card">
        <form class="search-form" th:action="@{/youtube}" method="get">
            <input class="search-input" name="keyword" placeholder="Search..." type="text"/>
            <button class="search-button" type="submit">Search</button>
        </form>
        <div class="results" th:each="youtube : ${youtubeInfo}">
            <div class="result-item">
                <h5 class="result-title" th:text="${youtube.key}"></h5>
                <a href="#" class="btn-3d blue"  onclick="openVideo(this)" th:data-url="@{'https://www.youtube.com/embed/' + ${youtube.value}}" >Button</a>
            </div>
        </div>
        <div id="videoModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <iframe id="videoFrame" width="600" height="315" src="" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
<script th:src="@{../js/modal.js}"></script>
</body>
</html>
